<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikeshhbaskaran.psgitechessentials">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/psg_tech_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">

        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.splash"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.cgpacalculator.Main"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.materials.materials"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.news.news"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.news.bbc"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.news.indiatoday"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.news.thehindu"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.news.toi"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.news.ndtv"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.news.googlenews"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.notes.MainActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.notes.EditActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.numix.calculator.Calculator"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.numix.calculator.Preferences"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.AddAssignmentTypeActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.AddCourseActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.AddGradeActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.AndroidGPACalculatorActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.CourseListActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.DeleteAssignmentTypeActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.DeleteCourseActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.DeleteGradeActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.GradingScaleActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.HomeActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.IndividualCourseActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.ModifyAssignmentTypeActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.ModifyCourseActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.ModifyGradeActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.nikeshhbaskaran.psgitechessentials.studentprofile.StatisticsActivity"
            android:theme="@style/AppBaseTheme" />

    </application>

</manifest>
